:root{
    --main-background: black;
    --text-color: #fff;
    --js-image-size: 200px;
}

h2{
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background: var(--main-background);
    min-height: 100vh;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--text-color);
}

.js-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.js-image{
    width: 50vh;
}

.founded-text{
    font-size: 40px;
}

